<div>
    <span
    class="status"
    [ngClass]="{
      'checked-in': detail.checkedIn
    }"
  ></span>
  <div *ngIf="editing">
    <input
      type="text"
      [value]="detail.fullName"
      (input)="onNameChange(name.value)"
      #name
    >
  </div>
  <div *ngIf="!editing">
    {{ detail.fullName }}
  </div>
  <div class="children">
    Children: {{ detail.children?.length || 0 }}
  </div>
  <button (click)="toggleEdit()">
    {{ editing ? 'Done' : 'Edit' }}
  </button>
  <button (click)="onRemove()">
    Remove
  </button>
</div>