<div>
  <passenger-count
    [items]="passengers">
  </passenger-count>
  <passenger-detail
    *ngFor="let passenger of passengers;"
    [detail]="passenger"
    (edit)="handleEdit($event)"
    (remove)="handleRemove($event)"
  >
  </passenger-detail>
</div>